* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body_content {
    min-height: 1000px;
    background-color: #002D65;
    overflow-x: hidden;
}

header {
    height: 100px;
    position: relative;
    background-color: #FBC100;

}

.logo {
    padding-top: 20px;
    height: auto;
    width: 50px;
    padding-left: 20px;

}

nav {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    padding-right: 20px;
}

/*-----------------------*/


.imagen_girasol {
    display: inline-block;
    object-fit: cover;
    min-height: 300px;
    /* meget vigtigt at det er min-height*/
    width: 100%;
}

/*---------------------*/
.underoverskrift {
    background-color: #F8F8F8;
}

/*-----------------*/
.text {
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    width: 100%;
    align-content: center;
    padding: 1%;
}

.title {
    padding-bottom: 10px;
}

/* es la caja con los textos y figuras */
.primera_parte {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    width: 100%;
    min-height: 300px;

}

.text_amd_buttom {
    flex-basis: 40%;
    flex-grow: 1;
    /*  align-content: center;*/
    display: flex;
    flex-direction: column;
    width: 100%;


}

.image_texto_box {
    flex-grow: 1;
    display: flex;
    justify-content: end;
    padding-right: 20px;
}

.imagen_texto {
    width: 300px;
    flex-grow: 1;

}

/*  sond part _image with text */
.second_part {
    background-color:
        rgb(251, 193, 0, 0.3);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}

.texto_box2 {

    flex-grow: 1;
    padding: 1%;



}


.figure2_box {
    flex-grow: 1;
    display: flex;
    min-height: 200px;
    flex-basis: 20%;
}

.secondimage {
    flex-grow: 1;
    height: auto;
    width: 250px;

}

/*-----------------------------*/
.line {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: solid rgb(27, 24, 228) 2px;
    margin-bottom: 20px;
    padding-top: 20px;
    width: 100%;
}

button {
    color: white;
    background-color: #002D65;
    height: 40px;
    width: 200px;

}

/*-------------------------------*/
footer {
    background-color: rgb(0, 45, 101, 0.2);
    min-height: 150px;
    display: flex;
    justify-content: center;
    color: white;
}



.logo_bottom {
    margin-top: 10px;
    height: 80px;
    width: auto;

}